{% extends 'base.html' %}

{% block content %}

    <h1>Страница с контактами</h1>

    <!-- <a href="{% url 'index-page' %}">На главную</a> -->
    <form action="{% url 'index-page' %}" method="get">
        {% csrf_token %}
        <button type="submit">На главную</button>
        </form>
    <!-- <a href="{% url 'about-page' %}">О нас</a> -->
    <form action="{% url 'about-page' %}" method="get">
        {% csrf_token %}
        <button type="submit"> о нас</button>
        </form>

{% endblock %}
