{% extends 'base.html' %}

{% block content %}

    <figure class="text-center">
        <blockquote class="blockquote">
            <h1 class="display-6">{{ post.title }}</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            {{ post.created }}
        </figcaption>
    </figure>
    <p>{{ post.content }}</p>

    <br>
    <form action="{% url 'post-confirm' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить пост</button>
    </form>
    <br>

    <form action="{% url 'post-update' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Редактировать пост</button>
    </form>

    {% include 'posts/includes/links_include.html' %}
{% endblock %}